<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QR Code Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        #qrcode {
            display: block;
            margin: 0 auto;
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }

@media print {
  footer {page-break-after: always;}
}

    </style>
</head>
<body>

 <br/>
 <br/>
 <br/>
 <br/>


    <div id="qrcode">
        <!-- Replace 'YourQRCodeImageURLHere' with the actual URL of your QR Code image -->
        <img src="$qrcodeurl" alt="QR Code" style="width:750px;height:750px;" class="center">
    </div>
 <br/>
 <br/>
 <br/>
 <br/>
    <table>
       <tr>
                <th>Title</th>
                <td>$title</td>
           </tr>
        <tr>
            <th>Course</th>
            <td>$courseId</td>
       </tr>

        <tr>
            <th>Batch</th>
            <td>$batchId</td>
       </tr>

         <tr>

            <th>Session</th>
            <td>$sessionId</td>
       </tr>

        <tr>

            <th>StartDate</th>
            <td>$startDate</td>
       </tr>

       <tr>

            <th>StartTime</th>
            <td>$startTime</td>
       </tr>

    <tr>

            <th>EndTime</th>
            <td>$endTime</td>
       </tr>


    </table>


<footer/>
</body>
</html>
